@using DNaNC_Server.Services
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This seed node is running on port: @(NodeManager.LocalNode.Port)</h1>
</div>